# Environment variables for the React application
# Rename this file to .env and replace <placeholder> values as needed
PORT=3002
REACT_APP_VERSION=$npm_package_version
REACT_APP_STAGE="prod"

# datasets api
REACT_APP_DATASETS_API_ENDPOINT='https://fct5d83geg.execute-api.us-east-1.amazonaws.com/api/v1/datasets/'
REACT_APP_SUPABASE_KEY='<your_supabase_anon_key_here>'
REACT_APP_SUPABASE_URL='<your_supabase_url_here>'

# # posts api
REACT_APP_POSTS_API_OWNER='janelia-cosem'
REACT_APP_POSTS_API_REPO='openorganelle-blog'
REACT_APP_POSTS_API_POSTSPATH = 'posts'
REACT_APP_POSTS_API_ASSETSPATH = 'assets'

# Neo4j database authentication
REACT_APP_NEO4J_AUTH_TOKEN='<your_neo4j_auth_token_here>'
