@media (min-width: 960px) {
  .organelles .toc {
    position: sticky;
    top: 82px;
  }
}

.organelles .toc {
  padding: 1em;
  margin-top: 1em;
}

.organelles .toc li {
  list-style: none;
}

.organelles .toc ul {
  padding: 0 1em;
}

.organelles .toc a {
  text-decoration: none;
}


.organelles .border {
  border: 1px solid #eee;
  border-radius: 20px;
}

.organelles .sticky th {
  position: sticky;
  top: 54px;
  background: #eee;
}

p.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
