.tutorials kbd {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8em;
  color: #000;
  background: #eee;
  padding: 0.3em 0.5em;
  margin: 0.2em;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #bbb;
}

.tutorials .fiji_icon {
  height: 1em;
}

.tutorials .toc {
  padding: 1em;
  margin-top: 1em;
}

.tutorials .toc li {
  list-style: none;
}

.tutorials .toc ul {
  padding: 0 1em;
}

.tutorials .toc a {
  text-decoration: none;
}

@media (min-width: 960px) {
  .tutorials .toc {
    position: sticky;
    top: 82px;
  }
}
